.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
}

.container1 {
    background-color: #1F2937;
}

.logo {
   font-size: 24px;
   color: #F9FAF8; 
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 18px;
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 7px 20px;
    margin-top: 10px;
}

.hero_main_text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
}

 a {
    text-decoration: none; 
    font-weight: 18px;
    color: #E5E7EB;
    padding: 5px;
 }

 .hero_secondary_text {
    font-weight: 18px;
    color: #E5E7EB;
    margin: 0;
 }

 .hero_placeholder {
    width: 400px;
    height: 200px;
 }

 .left {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: nowrap;

 }

 .main_hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
    gap: 10px;
 }

 .container2 {
    text-align: center;
 }

 .random_information {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
 }

 .rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 40px 10px;
 }

 .image_and_subtext {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .random_placeholder {
    border-radius: 10px;
    width: 100px; 
    height: 100px; 
    background-color: #E5E7EB; 
    border: 3px solid #3882F6; 
}

.subtext {
    width: 100px; 
    height: 100px;
    padding-top: 5px;
    font-weight: 18px;
}
